{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Store
{% endblock %}
{% block content %}
<!-- Search bar implementation -->
<form method="GET" action="{% url 'store' %}">
  <div class="input-group nav-options">
    <input type="text" name="product" class="form-control" placeholder="Buscar productos..." value="{{ request.GET.product }}">
    <!-- Category filter implementation -->
    <select name="category" class="form-select" id="category">
      <option value="">Todas</option>
      {% for category in categories %}
      {% if selected_category == category.name %}
      <option value="{{category.name}}" selected>{{category.name}}</option>
      {% else %}
      <option value="{{category.name}}">{{category.name}}</option>
      {% endif %}
      {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit">Buscar</button>
  </div>
</form>
<div class="products-container">
{% for product in products %}
  <div class="card" style="width: 18rem;">
    {% if product.image %}
    <img src="{{product.image.url}}" class="card-img-top" alt="...">
    {% else %}
    <img src="{% static 'store/not-found.jpg' %}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="{% url 'product' product.id %}" class="btn btn-primary">View Product</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}