<!-- Eduardo Piñeros -->
{% extends 'store/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} 
{{product.name}}
{% endblock %}
{% block content %}
<div class="product-container">
    <div class="card product-card">
        {% if product.image %}
        <img src="{{product.image.url}}" class="card-img-top product-image" alt="{{product.name}}">
        {% else %}
        <img src="{% static 'store/not-found.jpg' %}" class="card-img-top product-image" alt="{{product.name}}">
        {% endif %}
        <div class="card-body product-body">
          <h5 class="card-title">{{product.name}}</h5>
          <!-- Average Rating Implementation-->
          {% translate "Rating: " as rating_text %}
          <p>{{rating_text}}{{average_rating}}</p>
          <h6 class="card-subtitle">${{product.price}}</h6>
          <p class="card-text">{{product.description}}</p>
          <h6 class="card-subtitle">{% translate "Reviews:" %}</h6>
          <ul class="list-group list-group-flush reviews">
          {% for review in product.reviews.all %}
            <li class="list-group-item">
                <!-- Review Card -->
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{review.customer.username}}</h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">{{rating_text}}{{review.rating}}</h6>
                      <p class="card-text comment">{{review.comment}}</p>
                      <p class="mb-2 text-body-secondary">{% translate "Posted: "%}{{review.created_at}}</p>
                    </div>
                  </div>
            </li>
            {% endfor %}
        </ul>
        <div class="btn-bar">    
            <a href="#" class="btn btn-primary" id="cart-btn">{% translate "Add to Cart" %}</a>
            <a href="{% url 'add_review' product.id %}" class="btn btn-secondary" id="cart-btn">{% translate "Add a review" %}</a>
        </div>
        </div>
      </div>
</div>
{% endblock %}